<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bottonnav">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/keis_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/keis_icon_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".LinkActivity" />
        <activity android:name=".webView" />
        <activity android:name=".CalendarActivity"/>
        <activity android:name=".AddActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>